@media only screen and (max-width: 767px) {
    #name{
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 5px;
        
    }
    #ed-text-1{
        margin-top: 3rem;
    }

    #nav{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #nav-links {
        margin: 50px;
        font-size: 40px;
        letter-spacing: 5px;
        color: #cec8c8;
    }

    
    
}
@media only screen and (max-width: 600px) {
    img{
        width: 100%;
        max-width: 100%;
    }

    #nav-links {
        margin: 20px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 40px;
        letter-spacing: 5px;
        color: #cec8c8;
    }
    
    .btn, .text-white {
        font-size: 50%;
        text-shadow: 2px 2px black;
    }

   
    
}

@media only screen and (max-width: 375px) {
    .card{
       max-width: fit-content;
    }

    hr{
        margin-top: 5%;
    }

    #big-hr{
        margin-top: 1rem;
    }
    
    p{
        font-size: 70%;
    }

    .btn, .text-white {
        font-size: 50%;
    }
}

@media only screen and (min-width: 601px) {
    #nav-links {
        color: #cec8c8;
        margin: 20px;
        letter-spacing: 5px;
        -webkit-transition: all 1s; /* For Safari 3.0 to 6.0 */
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    
    #nav-links:hover {
        color: #5485c4;
        font-size:3rem;
    }
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    font-family: "Merriweather", serif;
}

p{
    font-family: "Raleway", serif;
}

h2{
    margin-top: 1rem;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

#headshot {
    background-color: rgba(15, 1, 1, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 5px;
    max-height: 300px;
    max-width: 300px;
}

#img-gc {
    padding-top: 56.25px;
    padding-bottom: 56.25px;
    max-height: 300px;
    max-width: 300px;
    color: #cec8c8;    
    -webkit-transition: all 0.2s; /* For Safari 3.0 to 6.0 */
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 25px;
}

#img-cmu {
    padding: 5px;
    max-height: 300px;
    max-width: 300px;
    color: #cec8c8;    
    -webkit-transition: all 0.2s; /* For Safari 3.0 to 6.0 */
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 25px;
}

#img-gc:hover, #img-cmu:hover {
    background-color: rgb(255,255,255,0.1);
}

#external-linkedin {
    border-radius: 25px;
    width: 100px;
    padding: 0px;
}

#external-github {
    border-radius: 25px;
    width: 100px;
    padding: 0px;
}

hr {
    color: aliceblue;
    height: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-width: 2px;
}

#big-hr{
    border-width: 4px;
    border-radius: 5%;
    margin-top: 3rem;
    border-color: white;
}

#sm-hr{
    border-width: 4px;
    border-radius: 5%;
    margin-top: .5rem;
    margin-left: 14px;
    margin-right: 14px;
    border-color: white;
}


#intro, #education {
    border-radius: 25px;
    margin-bottom: 1rem;
    -webkit-transition: all 1s; /* For Safari 3.0 to 6.0 */
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    margin-left: 5%; margin-right: 5%;
    font-size: 1.5rem;
    background: linear-gradient(to right, #2888c0, #cfd2d6 )
}

#intro:hover, #education:hover {
    margin-left: 3%;
    margin-right: 3%;
}

#education-info {
    justify-content:space-around;
    align-items: center;
    margin-left: 5%; margin-right: 5%;
}

#contact, #projects, footer {
    border-radius: 25px;
    margin-bottom: 1rem;
    margin-left: 5%; margin-right: 5%;
}

.card {
    word-wrap: break-word;
    background-color: #4e5d6c;
    background-clip: border-box;
    box-shadow: 0 10px 40px 0 rgb(0, 0, 0);
    
}
#bnc-card, #lt-card, #td-card{
    background-image: url(https://play-lh.googleusercontent.com/eN0IexSzxpUDMfFtm-OyM-nNs44Y74Q3k51bxAMhTvrTnuA4OGnTi_fodN4cl-XxDQc);
    background-position: center;
    background-size: cover;
    padding: 0;
    border-radius: 25px;
    display:flexbox; justify-content:space-between; padding: 20px; font-size: 30px; text-align: center;
}

#lt-card{
    background-image: url(https://wallpaperaccess.com/full/2862102.jpg);
}

#td-card{
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfHWG9JnpFN0vD5Q0HG75Kb2n0HziWFJ9-Cw&usqp=CAU);
}

.grid-container {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}





#name {
    font-size: 4rem;
    letter-spacing: 5px;
    color: #cec8c8;
    margin: 40px;
    -webkit-transition: all 1s; /* For Safari 3.0 to 6.0 */
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#name:hover {
    color: #5485c4;
    font-size:5rem;
}





