a {
    text-decoration: none;
    font-size: 2rem;
    margin-left: 3rem;
}
img {
    background-color: rgba(15, 1, 1, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 5px;
    width: 300px;
}

#external-linkedin{
    border-radius: 0%;
    width: 100px;
    padding: 0px;
}

#external-github{
    border-radius: 0%;
    width: 170px;
    padding: 0px;
}

hr {
    color: aliceblue;
    height: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#intro {
    border-radius: 25px;
}
/* a{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: color .2s ease-in;
    padding: 20px;
}
a:hover {
    color: red;   
} */
#nav-links{
    color: #cec8c8;
    margin: 20px;
    -webkit-transition: all 1s; /* For Safari 3.0 to 6.0 */
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#nav-links:hover {
    color: #5485c4;
    font-size:3rem;
}
#name{
    font-size: 4rem;
    color: #cec8c8;
    margin: 20px;
    -webkit-transition: all 1s; /* For Safari 3.0 to 6.0 */
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#name:hover {
    color: #5485c4;
    font-size:5rem;
}

