@media only screen and (max-width: 600px) {
    img{
        width: 100%;
        max-width: 100%;
    }

    #name{
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 5px;
        
    }

    #nav{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #nav-links {
        margin: 20px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 40px;
        letter-spacing: 5px;
        color: #cec8c8;
    }
}

@media only screen and (min-width: 601px) {
    #nav-links {
        color: #cec8c8;
        margin: 20px;
        letter-spacing: 5px;
        -webkit-transition: all 1s; /* For Safari 3.0 to 6.0 */
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    
    #nav-links:hover {
        color: #5485c4;
        font-size:3rem;
    }
}

body{
    font-family: "Merriweather", serif;
}

p{
    font-family: "Raleway", serif;
}

h2{
    margin-top: 1rem;
}

a {
    text-decoration: none;
    font-size: 2rem;
    margin-left: 3rem;
}
img {
    background-color: rgba(15, 1, 1, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 5px;
    max-height: 300px;
    max-width: 300px;
}

#external-linkedin {
    border-radius: 25px;
    width: 100px;
    padding: 0px;
}

#external-github {
    border-radius: 25px;
    width: 100px;
    padding: 0px;
}

hr {
    color: aliceblue;
    height: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-width: 2px;
}

#big-hr{
    border-width: 4px;
    border-radius: 5%;
    border-color: white;
}

#intro {
    border-radius: 25px;
    margin-bottom: 1rem;
    -webkit-transition: all 1s; /* For Safari 3.0 to 6.0 */
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    margin-left: 5%; margin-right: 5%;
    font-size: 1.5rem;
}

.card {
    box-shadow: 0 10px 40px 0 rgb(0, 0, 0);
    
}
#bnc-card{
    background-image: url(https://play-lh.googleusercontent.com/eN0IexSzxpUDMfFtm-OyM-nNs44Y74Q3k51bxAMhTvrTnuA4OGnTi_fodN4cl-XxDQc);
    background-position: center;
    background-size: cover;
    padding: 0;
    border-radius: 25px;
    max-width: 70%; display:flexbox; justify-content:space-between; padding: 20px; font-size: 30px; text-align: center;
    
}

#intro:hover {
    margin-left: 1%;
    margin-right: 1%;
    font-kerning: normal;
}

#contact {
    border-radius: 25px;
    margin-bottom: 1rem;
    margin-left: 5%; margin-right: 5%;
}

#education {
    border-radius: 25px;
    margin-bottom: 1rem;
}

#projects {
    border-radius: 25px;
    margin-bottom: 1rem;
}

#name {
    font-size: 4rem;
    letter-spacing: 5px;
    color: #cec8c8;
    margin: 40px;
    -webkit-transition: all 1s; /* For Safari 3.0 to 6.0 */
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#name:hover {
    color: #5485c4;
    font-size:5rem;
}



