a {
    text-decoration: none;
    font-size: 2rem;
    margin-left: 3rem;
}
img {
    background-color: rgba(15, 1, 1, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 5px;
    width: 300px;
}

hr {
    color: aliceblue;
    height: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#intro {
    border-radius: 25px;
}